---
import { Image } from "astro:assets";
import type { ResolvedAuthor } from "@/lib/authors";

interface Props {
  author: ResolvedAuthor;
}

const { author } = Astro.props;
---

<span class="inline-flex items-center gap-1.5">
  <Image
    src={author.avatar}
    alt={author.name}
    width={40}
    height={40}
    class="h-5 w-5 rounded-full"
  />
  <a href={`/blog/author/${author.id}/`} class="relative z-10 hover:underline">
    {author.name}
  </a>
</span>
